@charset "UTF-8";
// Colors
@import "../node_modules/materialize-css/sass/components/color";
$primary-color: color("cyan", "darken-2") !default;
$secondary-color: color("cyan", "darken-2") !default;
// Variables
@import "../node_modules/materialize-css/sass/components/variables";
// Reset
@import "../node_modules/materialize-css/sass/components/normalize";
// components
@import "../node_modules/materialize-css/sass/components/global";
// @import "../node_modules/materialize-css/sass/components/badges";
@import "../node_modules/materialize-css/sass/components/icons-material-design";
@import "../node_modules/materialize-css/sass/components/grid";
@import "../node_modules/materialize-css/sass/components/navbar";
@import "../node_modules/materialize-css/sass/components/roboto";
@import "../node_modules/materialize-css/sass/components/typography";
@import "../node_modules/materialize-css/sass/components/transitions";
// @import "../node_modules/materialize-css/sass/components/cards";
// @import "../node_modules/materialize-css/sass/components/toast";
// @import "../node_modules/materialize-css/sass/components/tabs";
// @import "../node_modules/materialize-css/sass/components/tooltip";
@import "../node_modules/materialize-css/sass/components/buttons";
// @import "../node_modules/materialize-css/sass/components/dropdown";
// @import "../node_modules/materialize-css/sass/components/waves";
// @import "../node_modules/materialize-css/sass/components/modal";
// @import "../node_modules/materialize-css/sass/components/collapsible";
// @import "../node_modules/materialize-css/sass/components/chips";
// @import "../node_modules/materialize-css/sass/components/materialbox";
// @import "../node_modules/materialize-css/sass/components/forms/forms";
// @import "../node_modules/materialize-css/sass/components/table_of_contents";
// @import "../node_modules/materialize-css/sass/components/sideNav";
@import "../node_modules/materialize-css/sass/components/preloader";
// @import "../node_modules/materialize-css/sass/components/slider";
// @import "../node_modules/materialize-css/sass/components/carousel";
// @import "../node_modules/materialize-css/sass/components/tapTarget";
// @import "../node_modules/materialize-css/sass/components/pulse";
// @import "../node_modules/materialize-css/sass/components/date_picker/default";
// @import "../node_modules/materialize-css/sass/components/date_picker/default.date";
// @import "../node_modules/materialize-css/sass/components/date_picker/default.time";

body {
    background-color: color("grey", "lighten-5");
}

nav,
.page-footer {
    background-color: $primary-color;
}
// fix icons in buttons not triggering btn click event (probably due to lack of materialize.js)
.btn {
    .material-icons {
        pointer-events: none;
    }
}

main {
    p, ul {
        @extend .flow-text;
    }
}
// center images with showdown's generated syntax
p > img {
    margin-left: auto;
    margin-right: auto;
    display: inherit;

    width: 100%;
    height: auto;

    /*
        TODO: Limit max-width based on native width of image. Showdown extension?
        For now, hardcode them based on known width:
    */
    &[width="350"] {
        max-width: 350px;
    }
}

.notice {
    background-color: color("red", "lighten-1");
    border: 1px solid color("red", "darken-2");
    @extend .white-text;
    padding: 1rem;
    border-radius: .25rem;

    .notice-icon {
        float: left;
        margin-right: 1rem;
        font-size: 4rem;
    }
}